In [80]:
#importing pandas library
import pandas as pd

In [81]:
#Load the dataset and display first 5 rows
job=pd.read_csv("data job posts.csv")
print(job.head())

                                             jobpost          date  \
0  AMERIA Investment Consulting Company\r\nJOB TI...   Jan 5, 2004
1  International Research & Exchanges Board (IREX...   Jan 7, 2004
2  Caucasus Environmental NGO Network (CENN)\r\nJ...   Jan 7, 2004
3  Manoff Group\r\nJOB TITLE:  BCC Specialist\r\n...   Jan 7, 2004
4  Yerevan Brandy Company\r\nJOB TITLE:  Software...  Jan 10, 2004

                                               Title  \
0                            Chief Financial Officer
1  Full-time Community Connections Intern (paid i...
2                                Country Coordinator
3                                     BCC Specialist
4                                 Software Developer

                                           Company AnnouncementCode Term  \
0             AMERIA Investment Consulting Company              NaN  NaN
1  International Research & Exchanges Board (IREX)              NaN  NaN
2        Caucasus Environmental NGO Network (CENN)              NaN  NaN
3                                     Manoff Group              NaN  NaN
4                           Yerevan Brandy Company              NaN  NaN

  Eligibility Audience StartDate                               Duration  ...  \
0         NaN      NaN       NaN                                    NaN  ...
1         NaN      NaN       NaN                               3 months  ...
2         NaN      NaN       NaN  Renewable annual contract\r\nPOSITION  ...
3         NaN      NaN       NaN                                    NaN  ...
4         NaN      NaN       NaN                                    NaN  ...

  Salary                                       ApplicationP OpeningDate  \
0    NaN  To apply for this position, please submit a\r\...         NaN
1    NaN  Please submit a cover letter and resume to:\r\...         NaN
2    NaN  Please send resume or CV toursula.kazarian@......         NaN
3    NaN  Please send cover letter and resume to Amy\r\n...         NaN
4    NaN  Successful candidates should submit\r\n- CV; \...         NaN

                                        Deadline Notes  \
0                                26 January 2004   NaN
1                                12 January 2004   NaN
2  20 January 2004\r\nSTART DATE:  February 2004   NaN
3      23 January 2004\r\nSTART DATE:  Immediate   NaN
4                         20 January 2004, 18:00   NaN

                                              AboutC Attach  Year Month     IT
0                                                NaN    NaN  2004     1  False
1  The International Research & Exchanges Board (...    NaN  2004     1  False
2  The Caucasus Environmental NGO Network is a\r\...    NaN  2004     1  False
3                                                NaN    NaN  2004     1  False
4                                                NaN    NaN  2004     1   True

[5 rows x 24 columns]

In [82]:
#Finding the null values
job.isna().sum()

jobpost                 0
date                    0
Title                  28
Company                 7
AnnouncementCode    17793
Term                11325
Eligibility         14071
Audience            18361
StartDate            9326
Duration             8203
Location               32
JobDescription       3892
JobRequirment        2522
RequiredQual          484
Salary               9379
ApplicationP           60
OpeningDate           706
Deadline               65
Notes               16790
AboutC               6531
Attach              17442
Year                    0
Month                   0
IT                      0
dtype: int64

In [83]:
#checking the duplicate values and dropping them
print(job.duplicated().sum())
job=job.drop_duplicates()
print(job.duplicated().sum())

39
0

In [84]:
#Dropping the columns AnnouncementCode,Attach,Notes 
job.drop(columns=['AnnouncementCode','Attach','Notes'], axis=1, inplace=True)

In [85]:
#checking the datatypes of the columns
job.dtypes

jobpost           object
date              object
Title             object
Company           object
Term              object
Eligibility       object
Audience          object
StartDate         object
Duration          object
Location          object
JobDescription    object
JobRequirment     object
RequiredQual      object
Salary            object
ApplicationP      object
OpeningDate       object
Deadline          object
AboutC            object
Year               int64
Month              int64
IT                  bool
dtype: object

In [86]:
#Replacing the null values with mode
job['Term']=job['Term'].fillna(job['Term'].mode()[0])
job['Eligibility']=job['Eligibility'].fillna(job['Eligibility'].mode()[0])
job['Audience']=job['Audience'].fillna(job['Audience'].mode()[0])
job['Location']=job['Location'].fillna(job['Location'].mode()[0])
job['RequiredQual']=job['RequiredQual'].fillna(job['RequiredQual'].mode()[0])
job['JobDescription']=job['JobDescription'].fillna(job['JobDescription'].mode()[0])
job['JobRequirment']=job['JobRequirment'].fillna(job['JobRequirment'].mode()[0])
job['ApplicationP']=job['ApplicationP'].fillna(job['ApplicationP'].mode()[0])

In [87]:
import re
def clean_text(text):
    # Remove HTML tags
    text = re.sub(r'<.*?>', '', text)
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    # Remove excessive whitespace
    text = re.sub(r'\s+', ' ', text).strip()
    return text
job['JobDescription'] = job['JobDescription'].apply(clean_text)
job['JobRequirment'] = job['JobRequirment'].apply(clean_text)

In [9]:
pip install nltk

Collecting nltk
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: click in c:\users\akhil\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.7)
Collecting joblib (from nltk)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.11.6-cp311-cp311-win_amd64.whl.metadata (41 kB)
     ---------------------------------------- 0.0/41.5 kB ? eta -:--:--
     ---------------------------------------- 41.5/41.5 kB 2.0 MB/s eta 0:00:00
Collecting tqdm (from nltk)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.7 kB ? eta -:--:--
     ----------------------------------- ---- 51.2/57.7 kB 2.6 MB/s eta 0:00:01
     -------------------------------------- 57.7/57.7 kB 752.9 kB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\akhil\appdata\local\programs\python\python311\lib\site-packages (from click->nltk) (0.4.6)
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---- ----------------------------------- 0.2/1.5 MB 5.0 MB/s eta 0:00:01
   ----------- ---------------------------- 0.4/1.5 MB 5.5 MB/s eta 0:00:01
   ------------------- -------------------- 0.7/1.5 MB 5.7 MB/s eta 0:00:01
   --------------------------------- ------ 1.2/1.5 MB 6.6 MB/s eta 0:00:01
   ---------------------------------------  1.5/1.5 MB 6.9 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 6.0 MB/s eta 0:00:00
Downloading regex-2024.11.6-cp311-cp311-win_amd64.whl (274 kB)
   ---------------------------------------- 0.0/274.1 kB ? eta -:--:--
   ---------------------------------------- 274.1/274.1 kB 5.6 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   ------------------------------------- -- 286.7/301.8 kB 8.9 MB/s eta 0:00:01
   ------------------------------------- -- 286.7/301.8 kB 8.9 MB/s eta 0:00:01
   ------------------------------------- -- 286.7/301.8 kB 8.9 MB/s eta 0:00:01
   ------------------------------------- -- 286.7/301.8 kB 8.9 MB/s eta 0:00:01
   ------------------------------------- -- 286.7/301.8 kB 8.9 MB/s eta 0:00:01
   -------------------------------------  297.0/301.8 kB 965.4 kB/s eta 0:00:01
   -------------------------------------- 301.8/301.8 kB 931.6 kB/s eta 0:00:00
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.5 kB ? eta -:--:--
   ---------------------------------------- 78.5/78.5 kB 4.3 MB/s eta 0:00:00
Installing collected packages: tqdm, regex, joblib, nltk
Successfully installed joblib-1.4.2 nltk-3.9.1 regex-2024.11.6 tqdm-4.67.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [88]:
#Tokenizing and lowercasing for NLP tasks
import nltk
nltk.download('punkt_tab')
from nltk.tokenize import word_tokenize
job['JobDescription'] = job['JobDescription'].apply(lambda x: word_tokenize(x.lower()))
job['JobRequirment'] = job['JobRequirment'].apply(lambda x: word_tokenize(x.lower()))

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\akhil\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [89]:
job['JobDescription'].value_counts()

JobDescription
[the, incumbent, will, work, under, the, direct, supervision, of, the, company, president, and, be, primarily, responsible, for, covering, the, front, desk]                                                                                                                                                                                                                                                                                                                                                                                                                                                      3951
[under, the, direct, supervision, of, the, company, president, and, in, association, with, the, contracted, accounting, company, the, selected, candidate, will, perform, routine, accounting, as, well, as, some, administrative, duties]                                                                                                                                                                                                                                                                                                                                                                          37
[the, primary, objective, of, this, position, is, to, produce, required, product, in, conjunction, with, team, members, insuring, it, is, of, high, quality, and, is, timely]                                                                                                                                                                                                                                                                                                                                                                                                                                       28
[the, incumbent, will, be, responsible, for, unit, test, development, and, code, specification, writing]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            23
[epam, systems, is, actively, looking, for, java, developers, for, complex, and, longterm, projects, the, position, entails, working, with, sun, and, ibm, products, portal, solutions, the, latest, java, technologies]                                                                                                                                                                                                                                                                                                                                                                                            22
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ...
[this, position, will, manage, the, developmentimplementation, of, housing, finance, projects, which, will, direct, housing, capital, to, families, who, do, not, have, access, to, affordable, housing, credit, in, armenia, the, incumbent, will, report, to, the, executive, director]                                                                                                                                                                                                                                                                                                                            1
[the, incumbent, will, be, responsible, for, the, development, implementation, monitoring, from, a, technical, perspective, construction, programs, supervised, by, the, national, office, no, ensuring, that, the, projects, meet, the, habitat, standards, of, simple, decent, and, affordable, sdathe, incumbent, will, report, to, the, executive, director]                                                                                                                                                                                                                                                     1
[the, telecom, technician, is, responsible, for, supervision, of, the, bss, base, station, subsystem, implementation, process]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
[undpgef, armenia, improving, the, energy, efficiency, of, municipal, heating, and, hot, water, supply, project, under, the, overall, supervision, of, the, project, national, coordinator, and, the, direct, supervision, of, project, manager, and, as, a, member, of, the, project, implementation, team, the, incumbent, will, support, the, project, team, and, corresponding, national, counterparts, in, identification, of, legal, and, regulatory, barriers, for, implementation, of, energy, efficiency, measures, and, make, recommendation, on, required, changes, in, the, national, legislation]       1
[kamurj, uco, cjsc, is, looking, for, a, lawyer, in, legal, department, the, incumbent, will, mainly, be, responsible, for, the, organizations, internal, legal, service, the, development, of, the, internal, regulation, projects, adopted, by, the, board, of, the, organization, supporting, in, the, functions, of, the, board, as, well, as, proper, implementation, of, other, functions, related, to, the, office, work]                                                                                                                                                                                     1
Name: count, Length: 12623, dtype: int64

In [90]:
#Exracting key skills
skills_list = ['python', 'java', 'sql', 'javascript', 'html', 'css', 'c++', 'machine learning', 'data analysis', 'r']
def extract_skills(text, skills):
    found_skills = [skill for skill in skills if skill in text]
    return found_skills
job['JobDescription_skills'] = job['JobDescription'].apply(lambda x: extract_skills(' '.join(x), skills_list))
job['JobRequirment_skills'] = job['JobRequirment'].apply(lambda x: extract_skills(' '.join(x), skills_list))

In [91]:
job['JobDescription_skills'].value_counts()

JobDescription_skills
[r]                                              18378
[java, r]                                          303
[sql, r]                                           125
[data analysis, r]                                  35
[]                                                  30
[java, javascript, html, css, r]                    16
[java, javascript, r]                               12
[html, r]                                            9
[css, r]                                             8
[python, java, r]                                    7
[html, css, r]                                       7
[java, javascript, html, r]                          7
[java, sql, javascript, r]                           6
[java, javascript, css, r]                           6
[java, sql, r]                                       3
[python, r]                                          3
[machine learning, r]                                2
[java, sql, javascript, html, r]                     1
[machine learning, data analysis, r]                 1
[sql, html, r]                                       1
[python, java, sql, javascript, html, css, r]        1
[sql, html, css, r]                                  1
Name: count, dtype: int64

In [92]:
job['JobRequirment_skills'].value_counts()

JobRequirment_skills
[r]                                      18444
[sql, r]                                   130
[data analysis, r]                          72
[java, r]                                   70
[java, javascript, html, css, r]            60
[html, r]                                   30
[html, css, r]                              29
[]                                          18
[java, sql, javascript, r]                  14
[css, r]                                    13
[java, sql, r]                              11
[sql, html, r]                               9
[java, javascript, html, r]                  9
[java, javascript, r]                        8
[python, r]                                  8
[sql, data analysis, r]                      7
[java, sql, javascript, html, r]             5
[sql]                                        5
[java]                                       4
[java, sql, javascript, html, css, r]        4
[java, sql, html, css, r]                    3
[python, java, r]                            2
[java, sql, javascript, css, r]              2
[sql, html, css, r]                          2
[java, sql, html, r]                         1
[html, data analysis, r]                     1
[java, html, r]                              1
Name: count, dtype: int64

In [93]:
job['Title'].value_counts()

Title
Accountant                                                 328
Chief Accountant                                           219
Medical Representative                                     216
Sales Manager                                              164
Administrative Assistant                                   155
                                                          ...
Software Developer (Ajax, PHP)                               1
Analyst, Analysis Division, Financial Monitoring Center      1
Regulatory Affairs & Medical Manager                         1
Controlling Specialist                                       1
Head of Online Sales Department                              1
Name: count, Length: 8636, dtype: int64

In [94]:
#Standardize Term Column
import re
def standardize_term(term):
    term = term.lower().replace("-", " ") 
    if re.fullmatch(r'(?i)full[-\s]?time|ft', term.strip()):
        return "Full-Time"
    elif re.fullmatch(r'(?i)long[-\s]?term|ft', term.strip()):
        return "Long-Term"
    elif "part" in term:
        return "Part-Time"
    else:
        return term
job['modified_Term'] = job['Term'].apply(standardize_term)
job['modified_Term'].value_counts()

modified_Term
Full-Time                                                                 17835
Part-Time                                                                   450
Long-Term                                                                   138
permanent                                                                    51
full time salaried   40 hours per week                                       15
                                                                          ...
six months with 2 month probation period (with possible\r\nextension).        1
working hours: 09:00  19:00 from monday to friday.                            1
long term with 1 month probation period.                                      1
12 months   renewable                                                         1
full time 40 48 hours per week; monday  saturday                              1
Name: count, Length: 285, dtype: int64

In [98]:
pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [100]:
#Normalizing Column Title
import pandas as pd
title_normalization_dict = {
    "Software Eng.": "Software Engineer",
    "Sr. Dev": "Senior Developer",
    "Sr. Engineer": "Senior Engineer",
    "Data Sci.": "Data Scientist",
    "Mgr": "Manager",
    "Dev": "Developer",
    "Junior Dev": "Junior Developer"
}
def normalize_title(title):
    return title_normalization_dict.get(title, title)  # Use the full title if found, otherwise keep original

# Apply function
job['NormalizedTitle'] = job['Title'].apply(normalize_title)

print(job)

                                                 jobpost          date  \
0      AMERIA Investment Consulting Company\r\nJOB TI...   Jan 5, 2004
1      International Research & Exchanges Board (IREX...   Jan 7, 2004
2      Caucasus Environmental NGO Network (CENN)\r\nJ...   Jan 7, 2004
3      Manoff Group\r\nJOB TITLE:  BCC Specialist\r\n...   Jan 7, 2004
4      Yerevan Brandy Company\r\nJOB TITLE:  Software...  Jan 10, 2004
...                                                  ...           ...
18996  Technolinguistics NGO\r\n\r\n\r\nTITLE:  Senio...  Dec 28, 2015
18997  "Coca-Cola Hellenic Bottling Company Armenia" ...  Dec 30, 2015
18998  "Coca-Cola Hellenic Bottling Company Armenia" ...  Dec 30, 2015
18999  San Lazzaro   LLC\r\n\r\n\r\nTITLE:  Head of O...  Dec 30, 2015
19000  "Kamurj" UCO CJSC\r\n\r\n\r\nTITLE:  Lawyer in...  Dec 30, 2015

                                                   Title  \
0                                Chief Financial Officer
1      Full-time Community Connections Intern (paid i...
2                                    Country Coordinator
3                                         BCC Specialist
4                                     Software Developer
...                                                  ...
18996                    Senior Creative UX/ UI Designer
18997                       Category Development Manager
18998                      Operational Marketing Manager
18999                    Head of Online Sales Department
19000                         Lawyer in Legal Department

                                                 Company       Term  \
0                   AMERIA Investment Consulting Company  Full time
1        International Research & Exchanges Board (IREX)  Full time
2              Caucasus Environmental NGO Network (CENN)  Full time
3                                           Manoff Group  Full time
4                                 Yerevan Brandy Company  Full time
...                                                  ...        ...
18996                              Technolinguistics NGO  Full-time
18997  "Coca-Cola Hellenic Bottling Company Armenia" ...  Full-time
18998  "Coca-Cola Hellenic Bottling Company Armenia" ...  Full-time
18999                                  San Lazzaro   LLC  Full time
19000                                  "Kamurj" UCO CJSC  Full-time

                         Eligibility                   Audience StartDate  \
0           All qualified candidates  All interested candidates       NaN
1           All qualified candidates  All interested candidates       NaN
2           All qualified candidates  All interested candidates       NaN
3           All qualified candidates  All interested candidates       NaN
4           All qualified candidates  All interested candidates       NaN
...                              ...                        ...       ...
18996       All qualified candidates  All interested candidates       NaN
18997  All interested professionals.  All interested candidates      ASAP
18998  All interested professionals.  All interested candidates      ASAP
18999       All qualified candidates  All interested candidates       NaN
19000       All qualified candidates  All interested candidates       NaN

                                             Duration  \
0                                                 NaN
1                                            3 months
2               Renewable annual contract\r\nPOSITION
3                                                 NaN
4                                                 NaN
...                                               ...
18996                                       Long-term
18997  Long-term with a probation period of 3 months.
18998  Long-term with a probation period of 3 months.
18999                                       Long-term
19000                                      Indefinite

                                                Location  ...  \
0                                       Yerevan, Armenia  ...
1      IREX Armenia Main Office; Yerevan, Armenia \r\...  ...
2                                       Yerevan, Armenia  ...
3                                    Manila, Philippines  ...
4                                       Yerevan, Armenia  ...
...                                                  ...  ...
18996                                   Yerevan, Armenia  ...
18997                                   Yerevan, Armenia  ...
18998                                   Yerevan, Armenia  ...
18999                                   Yerevan, Armenia  ...
19000                                   Yerevan, Armenia  ...

            OpeningDate                                       Deadline  \
0                   NaN                                26 January 2004
1                   NaN                                12 January 2004
2                   NaN  20 January 2004\r\nSTART DATE:  February 2004
3                   NaN      23 January 2004\r\nSTART DATE:  Immediate
4                   NaN                         20 January 2004, 18:00
...                 ...                                            ...
18996  29 December 2015                                28 January 2016
18997  30 December 2015                                20 January 2016
18998  30 December 2015                                20 January 2016
18999  30 December 2015                                29 January 2016
19000  30 December 2015                                20 January 2016

                                                  AboutC  Year Month     IT  \
0                                                    NaN  2004     1  False
1      The International Research & Exchanges Board (...  2004     1  False
2      The Caucasus Environmental NGO Network is a\r\...  2004     1  False
3                                                    NaN  2004     1  False
4                                                    NaN  2004     1   True
...                                                  ...   ...   ...    ...
18996  As a company Technolinguistics has a mandate t...  2015    12  False
18997                                                NaN  2015    12  False
18998                                                NaN  2015    12  False
18999  San Lazzaro LLC works with several internation...  2015    12  False
19000  "Kamurj" UCO CJSC is providing micro and small...  2015    12  False

      JobDescription_skills JobRequirment_skills  modified_Term  \
0                       [r]                  [r]      Full-Time
1                       [r]                  [r]      Full-Time
2                       [r]                  [r]      Full-Time
3                       [r]                  [r]      Full-Time
4                       [r]             [sql, r]      Full-Time
...                     ...                  ...            ...
18996                   [r]                  [r]      Full-Time
18997                   [r]                  [r]      Full-Time
18998                   [r]                  [r]      Full-Time
18999                   [r]                  [r]      Full-Time
19000                   [r]                  [r]      Full-Time

                                         NormalizedTitle
0                                Chief Financial Officer
1      Full-time Community Connections Intern (paid i...
2                                    Country Coordinator
3                                         BCC Specialist
4                                     Software Developer
...                                                  ...
18996                    Senior Creative UX/ UI Designer
18997                       Category Development Manager
18998                      Operational Marketing Manager
18999                    Head of Online Sales Department
19000                         Lawyer in Legal Department

[18962 rows x 25 columns]

In [115]:
#Replacing the null values with mode
job['StartDate']=job['StartDate'].fillna(job['StartDate'].mode()[0])
job['OpeningDate']=job['OpeningDate'].fillna(job['OpeningDate'].mode()[0])
job['Deadline']=job['Deadline'].fillna(job['Deadline'].mode()[0])
job['Duration']=job['Duration'].fillna(job['Duration'].mode()[0])

In [116]:
#Converting the OpeningDate 
job['OpeningDate'] = pd.to_datetime(job['OpeningDate'], format="%d %B %Y",errors='coerce')
print(job['OpeningDate'].head())

job['Deadline'] = pd.to_datetime(job['Deadline'], format="%d %B %Y",errors='coerce')
print(job['Deadline'].head())

0   2009-07-17
1   2009-07-17
2   2009-07-17
3   2009-07-17
4   2009-07-17
Name: OpeningDate, dtype: datetime64[ns]
0   2004-01-26
1   2004-01-12
2   2014-02-28
3   2014-02-28
4   2014-02-28
Name: Deadline, dtype: datetime64[ns]

In [117]:
#Extracting Year and month from the columns
job['OpeningYear'] = job['OpeningDate'].dt.year
job['OpeningMonth'] = job['OpeningDate'].dt.month
job['DeadlineYear'] = job['Deadline'].dt.year
job['DeadlineMonth'] = job['Deadline'].dt.month

In [118]:
#Creating the column of DaysLeftToApply
job['DaysLeftToApply'] = (job['Deadline'] - job['OpeningDate']).dt.days
job['DaysLeftToApply']

0       -1999
1       -2013
2        1687
3        1687
4        1687
         ...
18996      30
18997      21
18998      21
18999      30
19000      21
Name: DaysLeftToApply, Length: 18934, dtype: int64

In [119]:
import pandas as pd
import numpy as np

# Ensure the 'Location' column exists and handle missing values
job['Location'] = job['Location'].fillna('')

# Function to split Location into State and Country
def split_location(location):
    parts = location.split(',') 
    parts = [p.strip() for p in parts] 
    if len(parts) == 2:
        return parts[0], parts[1]
    elif len(parts) == 1:
        return parts[0], 'Unknown'
    else:
        return 'Unknown', 'Unknown'  

# Apply the function and create new columns
job[['State', 'Country']] = job['Location'].apply(lambda x: pd.Series(split_location(x)))

# Display results
print(job[['Location', 'State', 'Country']])

                                                Location    State      Country
0                                       Yerevan, Armenia  Yerevan      Armenia
1      IREX Armenia Main Office; Yerevan, Armenia \r\...  Unknown      Unknown
2                                       Yerevan, Armenia  Yerevan      Armenia
3                                    Manila, Philippines   Manila  Philippines
4                                       Yerevan, Armenia  Yerevan      Armenia
...                                                  ...      ...          ...
18996                                   Yerevan, Armenia  Yerevan      Armenia
18997                                   Yerevan, Armenia  Yerevan      Armenia
18998                                   Yerevan, Armenia  Yerevan      Armenia
18999                                   Yerevan, Armenia  Yerevan      Armenia
19000                                   Yerevan, Armenia  Yerevan      Armenia

[18934 rows x 3 columns]

In [106]:
job=job.drop('AboutC', axis=1)

In [120]:
job['Salary']=job['Salary'].fillna(0)
job['Salary'].value_counts()

Salary
0                                                                                                                     9338
Competitive                                                                                                           1292
Highly competitive                                                                                                     586
Based on previous salary history, experience and\r\nprevailing market rates for comparable positions.                  270
Negotiable                                                                                                             268
                                                                                                                      ...
Competitive salary+ benefits, including medical\r\ninsurance and fitness program.                                        1
AMD equivalent of $350 USD ($500 after\r\nprobation).                                                                    1
Depends on skills and experience.                                                                                        1
Per assignment. According to market rates.                                                                               1
800.000 AMD, based on previous salary history,\r\nexperience and prevailing market rates for comparable positions.       1
Name: count, Length: 2691, dtype: int64

In [121]:
job.dropna(subset='Title',inplace=True)

In [122]:
job['Company']=job['Company'].fillna('UnKnown')

In [123]:
#Identify IT related jobs from IT Column
it_jobs = job[job['IT'] == True]
print(it_jobs.head())
print(it_jobs.shape)

                                              jobpost          date  \
4   Yerevan Brandy Company\r\nJOB TITLE:  Software...  Jan 10, 2004
15  NetCall Communications\r\nJOB TITLE:  Network ...  Jan 15, 2004
19  Xalt LLC\r\nJOB TITLE:  Graphic Designer\r\nPO...  Jan 16, 2004
34  Caucasus Research Resource Center - Armenia\r\...  Jan 24, 2004
35  CIT Ltd.\r\nJOB TITLE:  Programmer\r\nPOSITION...  Jan 26, 2004

                            Title  \
4              Software Developer
15          Network Administrator
19               Graphic Designer
34  Demographic Analysis Workshop
35                     Programmer

                                        Company       Term  \
4                        Yerevan Brandy Company  Full time
15                       NetCall Communications  Full time
19                                     Xalt LLC  Full time
34  Caucasus Research Resource Center - Armenia  Full time
35                                     CIT Ltd.  Full time

                 Eligibility                   Audience StartDate   Duration  \
4   All qualified candidates  All interested candidates      ASAP  Long term
15  All qualified candidates  All interested candidates      ASAP  Long term
19  All qualified candidates  All interested candidates      ASAP  Long term
34  All qualified candidates  All interested candidates      ASAP     3 week
35  All qualified candidates  All interested candidates      ASAP  Long term

                                             Location  ...  \
4                                    Yerevan, Armenia  ...
15                                   Yerevan, Armenia  ...
19                                   Yerevan, Armenia  ...
34  Yerevan, Armenia\r\nDESCRIPTION:   Demographic...  ...
35                                   Yerevan, Armenia  ...

                  NormalizedTitle OpeningYear OpeningMonth DeadlineYear  \
4              Software Developer        2009            7         2014
15          Network Administrator        2009            7         2014
19               Graphic Designer        2009            7         2004
34  Demographic Analysis Workshop        2009            7         2004
35                     Programmer        2009            7         2004

   DeadlineMonth DaysLeftToApply    State  Country  Education_Level  \
4              2            1687  Yerevan  Armenia      Open to All
15             2            1687  Yerevan  Armenia      Open to All
19             1           -1999  Yerevan  Armenia      Open to All
34             1           -1995  Unknown  Unknown      Open to All
35             2           -1974  Yerevan  Armenia      Open to All

    Experience_Range
4        Entry-level
15       Entry-level
19       Entry-level
34       Entry-level
35       Entry-level

[5 rows x 33 columns]
(3753, 33)

In [124]:
job['Eligibility'].value_counts()

Eligibility
All qualified candidates                                                                                 15236
All interested candidates                                                                                  903
Everyone                                                                                                   367
All interested candidates.                                                                                 221
All qualified candidates.                                                                                  196
                                                                                                         ...
All Web Designers                                                                                            1
All qualified candidates are eligible to\r\napply.                                                           1
Candidates experienced in administrative\r\nand human resource management.                                   1
All qualified candidates with\r\nappropriate education & experience.                                         1
All interested professionals in the\r\nfields of sociology, management and quality assurance systems.        1
Name: count, Length: 663, dtype: int64

In [125]:
import pandas as pd
import numpy as np

# Ensure columns are present
job['Eligibility'] = job['Eligibility'].fillna('')
job['Audience'] = job['Audience'].fillna('')

# Function to categorize education level
def categorize_education(eligibility):
    eligibility = str(eligibility).lower()
    
    if 'bachelor' in eligibility or 'undergraduate' in eligibility or 'degree' in eligibility:
        return 'Bachelor’s Degree'
    elif 'master' in eligibility or 'graduate' in eligibility or 'mba' in eligibility:
        return 'Master’s Degree'
    elif 'phd' in eligibility or 'doctorate' in eligibility:
        return 'PhD or Higher'
    elif 'high school' in eligibility or 'secondary' in eligibility or 'diploma' in eligibility:
        return 'High School Diploma'
    elif 'certificate' in eligibility or 'training' in eligibility:
        return 'Certificate or Training'
    elif 'all qualified candidates' in eligibility or 'everyone' in eligibility:
        return 'Open to All'
    else:
        return 'Other'

# Function to categorize experience range (same as before)
def categorize_audience(audience):
    audience = str(audience).lower()
    if ('all interested candidates' in audience or 'fresher' in audience or 
        'junior' in audience or 'beginner' in audience):
        return 'Entry-level'
    elif ('professionals' in audience or '3-5 years' in audience or 
          'intermediate' in audience):
        return 'Mid-level'
    elif ('senior' in audience or '5+ years' in audience or 'manager' in audience or 
          'lead' in audience or 'specialist' in audience):
        return 'Senior-level'
    elif ('developer' in audience or 'designer' in audience or 'administrator' in audience or 
          'specialist' in audience):
        return 'Specific Job Titles'
    else:
        return 'Other'

# Apply functions
job['Education_Level'] = job['Eligibility'].apply(categorize_education)
job['Experience_Range'] = job['Audience'].apply(categorize_audience)

# Display results
print(job[['Eligibility', 'Education_Level', 'Audience', 'Experience_Range']])

                         Eligibility Education_Level  \
0           All qualified candidates     Open to All
1           All qualified candidates     Open to All
2           All qualified candidates     Open to All
3           All qualified candidates     Open to All
4           All qualified candidates     Open to All
...                              ...             ...
18996       All qualified candidates     Open to All
18997  All interested professionals.           Other
18998  All interested professionals.           Other
18999       All qualified candidates     Open to All
19000       All qualified candidates     Open to All

                        Audience Experience_Range
0      All interested candidates      Entry-level
1      All interested candidates      Entry-level
2      All interested candidates      Entry-level
3      All interested candidates      Entry-level
4      All interested candidates      Entry-level
...                          ...              ...
18996  All interested candidates      Entry-level
18997  All interested candidates      Entry-level
18998  All interested candidates      Entry-level
18999  All interested candidates      Entry-level
19000  All interested candidates      Entry-level

[18934 rows x 4 columns]

In [126]:
job.isnull().sum()

jobpost                  0
date                     0
Title                    0
Company                  0
Term                     0
Eligibility              0
Audience                 0
StartDate                0
Duration                 0
Location                 0
JobDescription           0
JobRequirment            0
RequiredQual             0
Salary                   0
ApplicationP             0
OpeningDate              0
Deadline                 0
Year                     0
Month                    0
IT                       0
JobDescription_skills    0
JobRequirment_skills     0
modified_Term            0
NormalizedTitle          0
OpeningYear              0
OpeningMonth             0
DeadlineYear             0
DeadlineMonth            0
DaysLeftToApply          0
State                    0
Country                  0
Education_Level          0
Experience_Range         0
dtype: int64